
@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
		url("../font/Poppins-Light.ttf")
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background-color: #cdeae0;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--theme-icon);
	border-radius: 5px;
}

/* nav bar */
:root{
    --theme-nav-bar:#fff;
    --theme-secondaire:rgb(95, 55, 229);
    --theme-icon:#14141f;
    --theme-content:#f7f8f9;
    --theme-footer:#fff;
}
nav{
	background: var(--theme-nav-bar);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 135px;
	padding: 0px 100px;
	padding-top: 5px;
}
nav .nav-items{
	display: flex;
	flex: 1;
	list-style: none;
	padding: 0 0 0 20px;
}
nav .nav-items li{
	padding: 0 13px;
}
nav .nav-items li a{
	color: var(--theme-icon);
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
}
nav .nav-items li a:hover{
	color: var(--theme-secondaire);
}
nav form{
	display: flex;
	height: 40px ;
	border-radius: 2px;
	padding: 2px;
	background: "1e232b";
	min-width: 19%!important;
	border: 1px solid rgba(155, 155, 155, 0.2);
	border-radius: 20px;
}
nav form:hover{
	border: 1px solid var(--theme-secondaire);
}
nav form .search-data{
	height: 100%;
	width: 100%;
	padding: 0 10px;
	color: var(--theme-icon);
	background: none;
	border: none;
	font-size: 16px;
	
}
#btn_modif:hover{
	transform: scale(1.1);
}
nav form button{
	width: 35px;
	height: 30px;
	background:var(--theme-secondaire);
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: var(--theme-footer);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.facture_nav_item:hover{
	transform: translateY(-10px);
}
nav .menu-icon,
nav .search-icon,
nav .cancel-icon{
	width: 40spx;
	color: var(--theme-icon);
	text-align: center;
	margin: 0;
	font-size: 18px;
	cursor: pointer;
	display: none;
}
nav .menu-icon span,
nav .search-icon,
nav .cancel-icon{
	display: none;
}

/* content */
.content{
    background-color: var(--theme-content);
    min-height: calc(100%); 
}

/* footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--theme-footer);
    padding: 70px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--theme-secondaire);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:var(--theme-secondaire);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.5s ease;
}
.footer-col ul li a:hover{
	transform: translateX(10px);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: lightgray;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.6s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: var(--theme-secondaire);
}

/*media footer*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* media nav bar */
@media (max-width: 1245px){
	nav{
		padding: 0 50px;
		
	}
}
@media (max-width: 1140px){
	nav{
		padding: 0px;
		padding-top: 5px;

	}


	nav .logo{
		flex: 2;
		text-align: center;
	}
	nav .nav-items{
		position: fixed;
		z-index: 99;
		top: 135px;
		width: 100%;
		left: -100%;
		height: 100%;
		background: var(--theme-nav-bar);
		display: inline-block;
		padding: 10px 50px 0 50px;
		text-align: center;
		transition: left 0.3s ease;
	}
	nav .nav-items.active{
		left: 0%;
	}
	nav .nav-items li{
		line-height: 40px;
		margin: 30px 0;
	}
	nav .nav-items li a{
		font-size: 20px;
	}
	nav form{
		position: absolute;
		top: 145px;
		right: 12px;
		opacity:0 ;
		pointer-events: none;
		transition:top 0.3s ease,opacity 0.1s ease ;
		z-index: 100;
	}
	nav form.active{
		opacity: 1;
		top: 160px;
		pointer-events: auto;
		border: 1px solid var(--theme-secondaire);
	}

	nav form::before{
		position: absolute;
		content: "";
		top: -13px;
		right: 0;
		width: 0;
		height: 0;
		z-index: 99;
		margin: -20px 0 0;
		border: 10px solid transparent;
		border-bottom-color: #1e232b;

	}
	nav form::after{
		position: absolute;
		content: "";
		height:60px;
		padding: 2px;
		width: calc(100% + 20px);
		background: #1e232b;
		border-radius:2px ;
		z-index: -2;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	nav form:hover{
	border: 1px solid var(--theme-secondaire);
}
	nav .menu-icon{
		display: block;
	}
	nav .search-icon,
	nav .menu-icon span{
		display: block;
	}
	nav .search-icon.hide,
	nav .menu-icon span.hide{
		display: none;
	}
	nav .cancel-icon.show{
		display: block;
	}
}