.box_facture{
    width: 100%;
    /* background-color: red; */
}

/* facture_nav_bar */
.facture_nav_bar{
    display: flex;
    /* background-color: red; */
    justify-content: flex-end;
}
.facture_nav_item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    background-color: var(--theme-secondaire);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.facture_nav_item:hover{
	transform: translateY(-10px);
}
.facture_nav_item i{
    color: white;
}
/* info bis */
.box_info_facture_bis{
    width: 100%;
    display:flex ;
    padding: 0.5%;
}
.box_num_facture,.box_date_facture{
    display: flex;
    width: 50%;
    font-weight: bold;
}
.data_num_facture,.data_date{
    margin:0 1%;
    font-weight: initial;
}
/* facture_content */
.table_facture,
.facture_content{
    width: 95%;
    margin: 10px auto;
    /* background-color: red; */
}
.box_facture_info{
    display: flex;
    flex-direction: column;
}
.facture_box_2,
.facture_box_3,
.facture_box_1{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: red; */
}
.facture_info_item_customer,.facture_info_item_company{
    margin: 2% 5%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 10px;
}
.box_total,
.facture_info_item_customer{
    width: 300px;
}
.box_note,
.facture_info_item_company{
    width: 500px;
}
.titre_facture_{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    font-size: 20px;
    padding: 1%;
    background-color: var(--theme-secondaire);
    margin: 10px 0;
}
.facture_sous_item{
    display: flex;
    padding: 2%;
}

.facture_info_label,.facture_info_text{
    padding:0 2%;
}
.facture_info_label{
    font-weight: bold;
}
.box_total,.box_note{
    margin: 2% 5%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 10px;
}
.note,.total{
    display: flex;
    flex-direction: column;
}
.total .facture_info_text{
    font-size: 30px;
    font-weight: bold;
}
.total{
    justify-content: center;
    align-items: center;
}

/* table template */
table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 90%;
	table-layout: fixed;
	margin: 0 auto;
	min-width: 800px;
}
.table_facture thead th{
	background-color: var(--theme-secondaire);
}
.table {
	margin: auto;
	width: 90%;
	overflow-x: scroll;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}


table tr {
	/* background-color: #f8f8f8; */
	border-bottom: 1px solid lightgray;
	padding: .35em;
}


table th,
table td {
	padding: 20px;
	font-size: .85em;
	
}
table tbody td:nth-child(3),
table tbody td:nth-child(2),
table thead th:nth-child(3),
table thead th:nth-child(2){
    text-align: right;
}


table th {

	letter-spacing: .1em;
	border-right: 2px solid white;
	text-align: left;
	/* color: var(--theme-secondaire); */
}


table thead tr {
	color: white;
	/* background: var(--theme-secondaire); */
}

table tbody tr:nth-child(odd) {
	background: white;
}

table tbody tr:nth-child(even) {
	background: #f8f8f8;
}



@media screen and (min-width:600px) {}







@media screen and (max-width: 600px) {


	table {
		border: 0;
		min-width: 385px;
	}

	table caption {
		font-size: 1.3em;
	}

	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
}






/* fin css table css */
@media(max-width:1300px) {
	.box_search {
		width: 200px;
		margin-left: 10px;
	}

	.box_search i {
		font-size: 14px;
	}

	.box_search input[type="text"] {
		font-size: 13px;
	}

	.rubrique_text {
		display: none;
	}


}

@media(max-width:1210px) {
	.rubrique_text {
		display: none;
	}

	.accueil_left {
		width: 9%;
	}

	.accueil_right {
		width: 91%;
	}

	.left_header i {
		display: none;
	}

}

@media(max-width:800px) {

	.titre_balance {
		font-size: 22px;
	}

	.rubrique_text {
		display: none;
	}
}

@media(max-width:600px) {

	.rubrique_text {
		display: none;
	}
}

@media(max-width:540px) {
	.accueil_left {
		width: 12%;
		min-width: 55px;

	}

	.accueil_right {
		width: 88%;
	}

	.rubrique_item i {
		font-size: 14px;
	}

	.part-text {
		font-size: 9px;
	}

	.box_search {
		width: 200px;
		margin: 0 5px;
	}

	.box_search input[type="text"] {
		padding: 10px 7px;
		font-size: 12px;
	}

	.box_search i {
		padding: 10px 7px;
		font-size: 12px;
		width: 20px;
		height: 20px;
	}

	.img_user {
		width: 38px;
		height: 38px;
	}

	.info_user {
		font-size: 14px;
	}

	table caption {
		font-size: 1.2em;
	}

	table td {
		display: block;
		font-size: .8em;
	}

	.rubrique_text {
		display: none;
	}

}

@media(max-width:390px) {

}

@media(max-width:320px) {
	.rubrique_item i {
		font-size: 9px;
	}

	.accueil_left {
		width: 26%;
		min-width: 23px;
	}

	.accueil_right {
		width: 86%;
	}

	.rubrique_text {
		display: none;
	}

}

@media(max-width:280px) {
	.accueil_left {
		width: 15%;
		min-width: 23px;
	}

	.accueil_right {
		width: 95%;
	}

	.rubrique_item i {
		font-size: 4px;
	}

	.info_user {
		font-size: 13px;
	}

	.nom_user {
		margin-right: 5px;
	}

	.img_user {
		width: 35px;
		height: 35px;
	}

	.box_search {
		width: 120px;
		margin: 0 5px;
	}

	.box_search input[type="text"] {
		padding: 5px 7px;
		font-size: 12px;
	}

	.box_search i {
		padding: 5px 7px;
		font-size: 12px;
		width: 17px;
		height: 17px;
	}

	table caption {
		font-size: 1em;
	}

	table td {
		display: block;
		font-size: .6em;
	}

	.rubrique_item i {
		font-size: 12px;
		padding: 15px 5px;
	}

	.box-modifier {
		width: 190px;
	}

	.box-modifier h2 {
		padding: 8px 0;
		font-size: 15px;
	}

	.box-modifier .modify-item input {
		padding: 8px 15px;
		font-size: 10px;
	}

	.rubrique_text {
		display: none;
	}
}
