.box_card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card_item{
    
    width: 320px;
    height: 300px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card_titre{
    color: var(--theme-secondaire);
    padding:0 2%;
}
.card_item >div{
    margin: 5px 0;
}
.card_description .card_description_titre{
   font-weight: bold;
   padding: 0 2%;
}
.card_texte{
    margin: 5px;
    max-height: 150px;
    padding: 5%;
    overflow-y: scroll;
    font-size: 15px;
}
.box_bouton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn_supp,#btn_modif{
    width: 40%;
    margin: 1%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
#btn_modif{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
#btn_supp{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
