@font-face {
	font-family: "Poppins";
	src: local("Poppins"),
		url("../font/Poppins-Light.ttf")
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.box_profil{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-width: 390px;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index: 50;
}
.etape{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etape_titre{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20%;
}
.etape_sous_titre{
    margin-bottom: 5%;
}
.e8 .etape_item,
.e6 .etape_item,
.e4 .etape_item,
.e3 .etape_item,
.e1 .etape_item{
    padding: 15px 20px;
    font-size: 13px;
    /* background-color: rgb(95, 55, 229); */
    background-color:#ff020779;
    /* border: 1px solid #d70353; */
    width: 90%;
    color: white;
    margin: 8px auto;
    border-radius: 20px;
}
.etape_item:hover{
    cursor: pointer;
}
.box_all_genre{
    width: 90%;
}
.box_genre{
    width: 100%;
    display: flex;
}
.box_genre > div{
    background-color: #ff020779;
    padding: 10px 20px;
    margin: 1%;
    color: white;
    border-radius: 20px;
}
.active{
    display: flex;
}
.box_input{
    display: none;
    flex-direction: column;
    width: 90%;
    margin: 10px 0;
}
.all_boutons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
}
.box_input input{
    padding: 10px 20px;
    border:1px solid lightgray;
    border-radius: 10px;
    margin: 5px 0;
}
.label{
    font-size: 14px;
    margin: 1%;
}
.box_argent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_argent > div{
    width: 20%;
    background-color: #ff020779;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    color: white;
}
.progession{
    width: 100%;
    display: flex;
}
.progession > div{
    width: 12.5%;
    margin: 5% auto 10% auto;
    background-color:  rgb(209, 200, 237);
    height: 10px;
    color: white;
}
.progession .act_prog{
    width: 12.5%;
    margin: 5% auto 10% auto;
    background-color:  rgb(95, 55, 229);
    height: 10px;
    color: white;
}


.rythme,
.frequence{
    display: flex;
}
.range_value{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.range_value > div{
    color: #ff020779;
    font-size: 13px;
}

.box_input input[type="range"]{
    padding: 0;
    margin: 5% 0;
}
.erreur{
    display: none;
    color: red;
    font-size: 12px;;
}
#button_next{
    width:40%;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    color:  rgb(95, 55, 229);
    background-color:white;
    margin: 10% auto;
    border:1px solid rgb(95, 55, 229);
    transition: 0.6s ease-in-out;
    display: none;
}
#button_next:hover{
    background-color:  rgb(95, 55, 229);
    color: white;
}